<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QuestsArray</key>
	<array>
		<array>
			<string>500</string>
			<string>2015-11-18T13:32:49Z</string>
		</array>
	</array>
</dict>
</plist>
